<div class="row bg-white">
    <div class="col-1">
        <i class="fas fa-bars fs-2 my-2"></i>
    </div>
    <div class="col-11">
        <div class="row item-user">
            <div class="col-1 ms-auto">
                <div class="dropdown">
                    <div class="dropdown-toggle " role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="far fa-user-circle fs-2 my-2"></i>
                    </div>
                    <ul class="dropdown-menu " aria-labelledby="dropdownMenuLink">
                        <li class="border-bottom"><a class="dropdown-item" routerLink="/admin/profile">Thay đổi thông tin</a></li>
                        <li class="border-bottom"><a class="dropdown-item" routerLink="/admin/resetpass">Đổi mật khẩu</a></li>
                        <li><a class="dropdown-item" href="#">Thoát</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-2">
                <span style="line-height: 48px;"> Admin tổng</span>
            </div>
        </div>
    </div>
</div>