<app-layout>
    <div class="container">
        <div class="row">
            <h3 class="py-2">Quản lý tài khoản</h3>
        </div>
        <div class="wrap bg-white">
            <div class="row py-4 ">
                <div class="col-4">
                    <button class="btn btn-outline-dark btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">Thêm +</button>
                </div>

                <!-- modal them -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title fw-bold">Thêm mới tài khoản</h6>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body p-0">
                                <div class="container">
                                    <div class="row p-2">
                                        <div class="col-3">
                                            <label for="" class="form-lable">Tên tài khoản (<span style="color: red;">*</span>)</label>
                                        </div>
                                        <div class="col-9">
                                            <input type="text" class="w-100" id="exampleFormControlInput1">
                                        </div>
                                    </div>

                                    <div class="row p-2">
                                        <div class="col-3">
                                            <label for="" class="form-lable">Mật khẩu (<span style="color: red;">*</span>)</label>
                                        </div>
                                        <div class="col-9">
                                            <input type="password" class="w-100" id="exampleFormControlInput1">
                                        </div>
                                    </div>

                                    <div class="row p-2">
                                        <div class="col-3">
                                            <label for="" class="form-lable">Nhập lại Mật khẩu (<span style="color: red;">*</span>)</label>
                                        </div>
                                        <div class="col-9">
                                            <input type="password" class="w-100" id="exampleFormControlInput1">
                                        </div>
                                    </div>
                                    <div class="row p-2">
                                        <div class="col-3">
                                            <label for="" class="form-lable">Số điện thoại(<span style="color: red;">*</span>)</label>
                                        </div>
                                        <div class="col-9">
                                            <input type="email" class="w-100" id="exampleFormControlInput1">
                                        </div>
                                    </div>
                                    <div class="row p-2">
                                        <div class="col-3">
                                            <label for="" class="form-lable"> Email (<span style="color: red;">*</span>)</label>
                                        </div>
                                        <div class="col-9">
                                            <input type="email" class="w-100" id="exampleFormControlInput1">
                                        </div>
                                    </div>

                                    <div class="row p-2">
                                        <div class="col-3">
                                            <label for="" class="form-lable">Mã chung cư (<span style="color: red;">*</span>)</label>
                                        </div>
                                        <div class="col-9">
                                            <select class="w-100" aria-label="Default select example">
                                                <option selected>ANKHANG01</option>
                                                <option value="1">ANKHANG02</option>
                                                <option value="2">ANKHANG03</option>
                                                <option value="3">ANKHANG04</option>
                                              </select>
                                        </div>
                                    </div>

                                    <div class="row p-2">
                                        <div class="col-3">
                                            <label for="" class="form-lable">vai trò (<span style="color: red;">*</span>)</label>
                                        </div>
                                        <div class="col-9">
                                            <select class="w-100" aria-label="Default select example">
                                                <option selected>BQT</option>
                                                <option value="1">BQL</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center p-3">
                                <button type="button" class="btn btn-primary">Thêm mới</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <label for="filter">Lọc:</label>
                    <select class="select">
                        <option selected>ANKHANG01</option>
                        <option value="1">ANKHANG02</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="col-4 text-end">
                    <label for="search">Tìm kiếm:</label>
                    <input class="" type="text" name="search" id="search">
                </div>
            </div>


            <!-- table -->
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-bordered border-dark table-sm">
                        <thead class="bg-light">
                            <tr>
                                <th scope="col">ID TK</th>
                                <th scope="col">Tên tài khoản</th>
                                <th scope="col">SĐT</th>
                                <th scope="col">Email</th>
                                <th scope="col">Ngày đăng ký</th>
                                <th scope="col">Mã chung cư</th>
                                <th scope="col">Vai trò</th>
                                <th scope="col">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let taikhoan of Taikhoan" value="taikhoan">
                                <!-- { {console.log(taikhoan[0])} } -->
                                <th scope="row ">{{taikhoan.IdTK}}</th>
                                <td>{{taikhoan.TenTaiKhoan}}</td>
                                <td>{{taikhoan.SoDienThoai}}</td>
                                <td>{{taikhoan.Email}}</td>
                                <td>{{taikhoan.NgayDangKy}}</td>
                                <td>{{taikhoan.MaKhu}}</td>
                                <td>{{taikhoan.IdVaiTro}}</td>
                                <td><span data-bs-toggle="modal" data-bs-target="#deleteModal" (click)="delete(taikhoan.IdTK)">Delete</span>/
                                    <span data-bs-toggle="modal" data-bs-target="#editModal" routerLink="/edit/{{taikhoan.IdTK}}">Edit</span>
                                    <!-- <a href="" data-bs-toggle="modal" data-bs-target="#deleteModal" (click)="delete(taikhoan.IdTK)">Delete</a>/ -->
                                    <!-- <a href="" data-bs-toggle="modal" data-bs-target="#editModal" routerLink="edit/{{taikhoan.IdTK}}"> Edit</a> -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- modal edit -->
                <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title fw-bold">Chỉnh sửa tài khoản</h6>
                            </div>
                            <div class="modal-body p-0">
                                <div class="container">
                                    <div class="row p-2">
                                        <div class="col-3">
                                            <label for="" class="form-lable">Tên tài khoản (<span style="color: red;">*</span>)</label>
                                        </div>
                                        <div class="col-9">
                                            <input type="text" class="w-100" id="exampleFormControlInput1">
                                        </div>
                                    </div>
                                    <div class="row p-2">
                                        <div class="col-3">
                                            <label for="" class="form-lable">Mật khẩu (<span style="color: red;">*</span>)</label>
                                        </div>
                                        <div class="col-9">
                                            <input type="password" class="w-100" id="exampleFormControlInput1">
                                        </div>
                                    </div>
                                    <div class="row p-2">
                                        <div class="col-3">
                                            <label for="" class="form-lable">Nhập lại Mật khẩu (<span style="color: red;">*</span>)</label>
                                        </div>
                                        <div class="col-9">
                                            <input type="password" class="w-100" id="exampleFormControlInput1">
                                        </div>
                                    </div>
                                    <div class="row p-2">
                                        <div class="col-3">
                                            <label for="" class="form-lable">Số điện thoại(<span style="color: red;">*</span>)</label>
                                        </div>
                                        <div class="col-9">
                                            <input type="email" class="w-100   " id="exampleFormControlInput1">
                                        </div>
                                    </div>
                                    <div class="row p-2">
                                        <div class="col-3">
                                            <label for="" class="form-lable"> Email (<span style="color: red;">*</span>)</label>
                                        </div>
                                        <div class="col-9">
                                            <input type="email" class="w-100   " id="exampleFormControlInput1">
                                        </div>
                                    </div>
                                    <div class="row p-2">
                                        <div class="col-3">
                                            <label for="" class="form-lable">Mã chung cư (<span style="color: red;">*</span>)</label>
                                        </div>
                                        <div class="col-9">
                                            <select class="w-100" aria-label="Default select example">
                                        <option selected>ANKHANG01</option>
                                        <option value="1">ANKHANG02</option>
                                        <option value="2">ANKHANG03</option>
                                        <option value="3">ANKHANG04</option>
                                      </select>
                                        </div>
                                    </div>
                                    <div class="row p-2">
                                        <div class="col-3">
                                            <label for="" class="form-lable">vai trò (<span style="color: red;">*</span>)</label>
                                        </div>
                                        <div class="col-9">
                                            <select class="w-100" aria-label="Default select example">
                                        <option selected>BQT</option>
                                        <option value="1">BQL</option>
                                      </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between p-4">
                                <button type="button" class="btn btn-danger  px-5" data-bs-dismiss="modal">Hủy</button>
                                <button type="button" class="btn btn-info  px-5">Cập nhật</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- modal delete -->
                <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-body text-center">
                                <p>Bạn muốn xóa tài khoản có tên:</p>
                                <h6>AnkhangQuanTri</h6>
                                <hr class="mb-0">
                            </div>
                            <div class="p-3 d-flex justify-content-between">
                                <button type="button" class="btn btn-info left" data-bs-dismiss="modal">Không</button>
                                <button type="button" class="btn btn-secondary right">Có</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pagination">
                <a href="#">&laquo;</a>
                <a href="#">1</a>
                <a href="#">2</a>
                <a class="active" href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">&raquo;</a>
            </div>
        </div>

    </div>
</app-layout>