<div class="row text-center pt-2 pb-4">
    <h2 class="text-white">DANH MỤC</h2>
</div>
<ul class="nav flex-column pt-3 ">
    <li class="nav-item">
        <a class="nav-link " aria-current="page" routerLink="/admin">Quản lý tài khoản</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " routerLink="/admin/qlchungcu">Quản lý chung cư</a>
    </li>

    <li class="nav-item">
        <a class="nav-link dropdown-my" routerLink="/admin/qlquangcao">Quản lý quảng cáo</a>
        <ul class="sub-menu ps-2">
            <li><a class="dropdown-item" routerLink="/admin/lquangcao">Loại quảng cáo</a></li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link dropdown-my" routerLink="/admin/qlphanhoi">Quản lý phản hồi</a>
        <ul class="sub-menu ps-2">
            <li><a class="dropdown-item" routerLink="/admin/mucdo"> Mức độ</a></li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link dropdown-my" routerLink="/admin/qlthongbao">Quản lý thông báo</a>
        <ul class="sub-menu ps-2">
            <li><a class="dropdown-item" routerLink="/admin/lthongbao">Loại thông báo</a></li>
            <li><a class="dropdown-item" routerLink="/admin/chisonuoc">Chỉ số nước</a></li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link dropdown-my" routerLink="/admin/qlcanho">Quản lý căn hộ</a>
        <ul class="sub-menu ps-2">
            <li><a class="dropdown-item" routerLink="/admin/lcanho">Loại căn hộ</a></li>
            <li><a class="dropdown-item" routerLink="/admin/block"> Block</a></li>
            <li><a class="dropdown-item " routerLink="/admin/ptthanhtoan"> Phương thức thanh toán</a></li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/admin/qlhoadon">Quản lý hóa đơn</a>
    </li>
    <li class="nav-item">
        <a class="nav-link dropdown-my" routerLink="/admin/qlchiphi">Quản lý chi phí</a>
        <ul class="sub-menu ps-2">
            <li><a class="dropdown-item " routerLink="/admin/phiquanly">Phí quản lý</a></li>
            <li><a class="dropdown-item" routerLink="/admin/phinuoc"> Phí nước</a></li>
            <li><a class="dropdown-item" routerLink="/admin/phixe"> Phí xe</a></li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/admin/qlxe">Quản lý xe</a>
    </li>

</ul>