<app-layout>
    <div class="container ">
        <div class="row">
            <h3 class="py-2">Quản lý căn hộ</h3>
        </div>
        <div class="wrap bg-white">
            <div class="row  py-4 ">
                <div class="col-4">
                    <button class="btn btn-outline-dark btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">Thêm +</button>

                    <!-- Modal Add -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <form class="modal-content">
                                <div class="modal-header">
                                    <h6 class="modal-title fw-bold" id="exampleModalLabel">Thêm mới loại căn hộ</h6>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="mb-3 row">
                                        <label for="title" class="col-sm-3 col-form-label">Tên Loại căn hộ (<span class="text-danger fw-bold">*</span>):</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="w-100" id="title">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary m-auto">Thêm mới</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                </div>
                <div class="col-4 text-end">
                    <label for="search">Tìm kiếm:</label>
                    <input class="" type="text" name="search" id="search">
                </div>


            </div>
            <div class="row">
                <!-- modal-table -->
                <div class="table-responsive">
                    <table class="table table-bordered border-dark table-sm">
                        <thead class="bg-light">
                            <tr>
                                <th scope="col">ID loại Căn hộ</th>
                                <th scope="col">Loại Căn hộ</th>
                                <th scope="col">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let lcanho of lcanho" value="lcanho">
                                <th scope="row ">{{lcanho.MaLoaiCanHo}}</th>
                                <td>{{lcanho.TenLoai}}</td>
                                <td><a href="" data-bs-toggle="modal" data-bs-target="#editModal">Edit</a>/
                                    <a href="" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <!-- modal-edit -->
                <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <form class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title fw-bold" id="editModalLabel">Chỉnh sửa loại căn hộ</h6>
                            </div>
                            <div class="modal-body">
                                <div class="mb-3 row">
                                    <label for="title" class="col-sm-3 col-form-label">Loại căn hộ (<span class="text-danger fw-bold">*</span>)</label>
                                    <div class="col-sm-9">
                                        <input type="text" value="Bình Dân" class="w-100" id="title">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Hủy</button>
                                <button type="submit" class="btn btn-primary ms-auto">Cập nhật</button>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- Modal Delete -->
                <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">

                            <div class="modal-body text-center">
                                <p>Bạn muốn xóa loại căn hộ có tên:</p>
                                <h6> Cao Cấp</h6>
                                <hr>
                            </div>
                            <div class="p-3 d-flex justify-content-between">
                                <button type="button" class="btn btn-info left" data-bs-dismiss="modal">Không</button>
                                <button type="button" class="btn btn-secondary right">Có</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="pagination">
                <a href="#">&laquo;</a>
                <a href="#">1</a>
                <a href="#">2</a>
                <a class="active" href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">&raquo;</a>
            </div>

        </div>


    </div>
</app-layout>